@page "/credentials"
@using PasswordWallet.Shared.Dtos
@attribute [Authorize]
@inject ApiClient Api
@inject IAlertService AlertService
@inject IAccountService AccountService

@* 
TODO add icon for showing password 
https://www.geeksforgeeks.org/how-to-toggle-password-visibility-in-forms-using-bootstrap-icons/ 
*@
<h1>Credentials</h1>
<NavLink href="credentials/add" class="btn btn-sm btn-success mb-2">Add Credential</NavLink>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 20%">Login</th>
        <th style="width: 20%">Password</th>
        <th style="width: 20%">Web Address</th>
        <th style="width: 20%">Description</th>
        <th style="width: 10%"></th>
    </tr>
    </thead>
    <tbody>
    @if (_credentials is not null)
    {
        foreach (var credential in _credentials)
        {
            <tr>
                <td>@credential.Login</td>
                <td>@credential.Password</td>
                <td>@credential.WebAddress</td>
                <td>@credential.Description</td>
                <td style="white-space: nowrap">
                    <NavLink href="@($"credentials/edit/{credential.Id}")" class="btn btn-sm btn-primary mr-1">Edit</NavLink>
                    <button @onclick="@(() => DeleteCredential(credential.Id))" disabled="@_isDeleting" class="btn btn-sm btn-danger btn-delete-credential mr-1">
                        @if (_isDeleting)
                        {
                            <span class="spinner-border spinner-border-sm"></span>
                        }
                        else
                        {
                            <span>Delete</span>
                        }
                    </button>
                    <button @onclick="@(() => TogglePasswordVisibility(credential.Id))" class="btn btn-sm btn-primary">
                        <span>@_passwordButtonName</span>
                    </button>
                </td>
            </tr>
        }
    }
    @if (_loading)
    {
        <tr>
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private static string HiddenPassword => "******";
    private string _passwordButtonName = "Show password";
    private bool _showingPassword;
    private bool _isDeleting;
    private bool _loading;
    private List<CredentialsDto>? _credentials;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        try
        {
            Api.BearerToken = AccountService.AuthorizationToken;
            _credentials = (await Api.GetCredentialsAsync()).ToList();
            foreach (var cred in _credentials)
            {
                cred.Password = HiddenPassword;
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            StateHasChanged();
        }

        _loading = false;
    }

    private async void DeleteCredential(long id)
    {
        _isDeleting = true;
        try
        {
            await Api.DeleteCredentialAsync(id);
            _credentials?.RemoveAll(x => x.Id == id);
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
        }
        _isDeleting = false;
        StateHasChanged();
    }

    private async void TogglePasswordVisibility(long id)
    {
        var credential = _credentials!.Single(x => x.Id == id);
        if (_showingPassword)
        {
    //_passwordButtonName = "Hide password";
            _passwordButtonName = "Show password";
            _showingPassword = false;
            credential.Password = HiddenPassword;
        }
        else
        {
    //_passwordButtonName = "Show password";
            _passwordButtonName = "Hide password";
            _showingPassword = true;

            if (credential.DecryptedPassword is not null)
            {
                credential.Password = credential.DecryptedPassword!;
                return;
            }
            try
            {
                var password = await Api.GetDecryptedPasswordAsync(id);
                credential.DecryptedPassword = password;
                credential.Password = password;
            }
            catch (Exception ex)
            {
                AlertService.Error(ex.Message);
            }
            StateHasChanged();
        }
    }

}